:root{
    --primary-dark-color: #0C212C;
    --secondary-dark-color: #133344;
    --primary-light-color: #FF014F;
    --text-color: white;

    /* --h1-size: 55px; */
    --h1-size: clamp(2rem, 4vw, 55px);
    /* --h2-size: 48px; */
    --h2-size: clamp(2rem, 3.5vw, 48px);
    /* --subtitle-fontsize: 36px; */
    --subtitle-fontsize: clamp(1.5rem, 3vw, 36px);
    --subtitle2-fontsize: 24px;
    --body-fontsize: 18px;
    --border-radius: 21px;
}

h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}

*{
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: var(--h1-size);
    font-weight: 800;
}

h2{
    font-size: var(--h2-size);
    font-weight: 700;
}

h3{
    font-size: var(--subtitle-fontsize);
    font-weight: 700;
}

h4{
    font-size: var(--subtitle2-fontsize);
    font-weight: 600;
}

p{
    font-size: var(--body-fontsize);
    font-weight: 500;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}

ul,li{
    list-style: none;
    padding: 0;
}

li{
    display: inline-block;
}

.container{
    /* max-width: 85%; */
    width: 85%;
}

.nav-container{
    width: 90%;
}

.d-flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: flex-start;
}

.align-items-end{
    align-items: flex-end;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-start{
    justify-content: flex-start;
}

.justify-space-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

header,section,footer,nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-about{
    background-image: url(https://nafishandoko.github.io/artcody-official/assets/images/header-bg.jpg);
    background-color: var(--primary-dark-color);
    background-blend-mode: multiply;
    /* background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url(/assets/images/header-bg.jpg); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

/* header{
    min-height: 100vh;
} */

#nav{
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px 0;
}

.navlink-li{
    margin-left: 15px;
    margin-right: 15px;
}

header a{
    font-size: var(--body-fontsize);
}

.brand-logo{
    /* visibility: hidden; */
    font-size: 36px;
}

#home{
    min-height: 100vh;
}

.we-make{
    font-weight: 600;
}

#role-text{
    color: var(--primary-light-color);
}

.cta-btn{
    background-color: var(--primary-light-color);
    padding: 20px 45px;
    border-radius: 7px;
    margin-top: 30px;
}

#about .container{
    /* min-height: 70vh; */
    padding-top: 50px;
}

.about-card{
    border-radius: var(--border-radius);
    background-color: rgba(19, 51, 68, 0.7);
    max-width: 600px;
    padding: 55px;
}

#about .brand-logo{
    margin-bottom: 15px;
}

#about p{
    font-size: 24px;
}

#about hr{
    /* border-color: var(--primary-light-color); */
    border: 2px var(--primary-light-color) solid;
    margin-top: 50px;
}

#value,#portfolio,footer{
    background-color: var(--primary-dark-color);
}

.dark-hr{
    margin: 26px 0;
    border: 2px var(--secondary-dark-color) solid;
    width: 80%;
}

.value-main{
    width: 100%;
}

.value-card{
    background-color: var(--secondary-dark-color);
    /* width: 315px; */
    width: 30%;
    /* height: 325px; */
    aspect-ratio: 1/0.9;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 50px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
}

.value-card h4{
    margin-top: 20%;
}

.value-main, .porto-main{
    margin-top: 57px;
}

#portfolio{
    padding-top: 210px;
}

.porto-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}

.porto-card{
    background-color: var(--primary-light-color);
    border-radius: var(--border-radius);
    /* padding: 20px 20px 0 20px; */
    padding: 20px;
}

.porto-img{
    width: 100%;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: top left;
    border-radius: var(--border-radius);
    margin-bottom: 30px;
}

.porto-card h3{
    text-shadow: 0 4px 4px rgba(0,0,0,.25);
}

footer{
    padding-top: 250px;
    padding-bottom: 30px;
}

.bi{
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.bi:hover{
    color: var(--primary-light-color);
}

.bgimg-to-bgcolor{
    background: linear-gradient(180deg, rgba(12, 33, 44, 0) 0%, #0C212C 34.38%);
    width: 100%;
    height: 190px;
}

.blurry-circle{
    width: 250px;
    aspect-ratio: 1;
    background: radial-gradient(50% 50% at 50% 50%, #FF014F 0%, rgba(255, 1, 79, 0) 100%);
    position: absolute;
    top: 25%;
    left: -160px;
}

#vertical-line{
    position: absolute;
    right: 40px;
    top: 140px;
    border-left: 3px solid var(--primary-light-color);
}

.scrolled{
    background-color: var(--primary-dark-color) !important;
    transition: background-color 200ms linear;
}

.typed-cursor{
    color: var(--primary-light-color);
}

.navlink-active{
    color: var(--primary-light-color);
    transition: all 0.3s ease-in-out;
}

@media (max-width:500px){
    .porto-main{
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
    .porto-card{
        padding: 10px;
    }
    .porto-img{
        margin-bottom: 15px;
    }
}

@media (max-width:768px){
    .value-main{
        flex-direction: column;
    }
    .value-card{
        width: 100%;
    }
    #vertical-line{
        display: none;
    }
    .nav-container{
        flex-direction: column;
    }
    .cta-btn{
        padding: 15px 35px;
    }
    .navlink-li{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;
    }
    #about p{
        font-size: var(--body-fontsize);
    }
    .about-card{
        padding: 45px;
    }
    footer .container{
        flex-direction: column-reverse;
    }
    .social-icons{
        margin-bottom: 10px;
    }
}